body{
    margin: 0;
    text-align: center;
}
footer{
    text-align: center;
    background: red;
  position: relative;
  height: 100px;
  clear: both;
  
}
footer p{
    /* vertical-align: middle; */
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a:link{
    color: white;
}
footer p a:visited{
    color: white;
}
header{
    margin: 0;
    padding:0 ;
    height: 100px;
    background: blue;
    text-align: center;
    overflow: hidden;
}
header p{
    margin: 0;
}
.a{
    height: 100px;
    background: olive;
    width: 34%;
    float: left;
    overflow: hidden;
}
.b{
    height: 100px;
    background: orange;
    width: 33%;
    float: left;
}
.c{
    height: 100px;
    background:plum;
    width: 33%;
    float: left;
}
