body{
    padding: 50px;
    /* line-height: 1cm; */
    /* user-select: none; */
}
hr{
    /* border-style: none; */
    width: 20%;
    background-color: aquamarine;
    height: 0px;
    border: 0px;
}
.navbar{
    /* background: linear-gradient(to right,rgb(221, 218, 23),white,white 80%); */
}
.empty{
    background: black;
    height: 20px;
}
.empty:hover{
    height: 20px;
    background: red;
}
#bn{
    color: brown;
}
/* unvisited link */
a:link{
color: red;
}
/* visited link */
a:visited{
color: red;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
}
*:focus{
    font-size:larger;
    font-size: xx-large;
    /* outline: dotted; */
}
::selection{
    color: white;
    background: black;
}
img::selection{
    background: rgba(0, 0, 0, .2);
}