*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: content-box;
}
header{
    background: fuchsia;
    text-align: center;
    width: 100%;
}
.menu{
    
    text-align: center;
    display: inline-flex;
    list-style-type: none;
    /* margin:0 10px; */
    padding: 10px;
    
    
}
.submenu{
    display: none;
    list-style-type: none;
    padding: 0;
}
.menu li{
    text-align: center;
    margin: 0 10px;
    width: 100px;
    background: darkcyan;
    padding: 5px;
}
.menu li:hover{
    background: khaki;
}
.menu li:hover .submenu{
    display: block;
    position: absolute;
    margin-top:5px ;
    margin-left:-15px ;
}
.menu li:hover .submenu li{
    background:navy;
    /* display: block; */
}
.menu li:hover .submenu li:hover{
    background:red;
}
a{
    text-decoration: none;
    color: azure;
}
@media screen and (max-width:600px){
    header{
        margin: 0;
        padding: 0;
    }
    .menu{
        text-align: center;
        display: block;
        list-style-type: none;
        /* margin:0 10px; */
        padding: 0;
        margin: 0;
    }
    .menu li{
        text-align: center;
        margin: 0px;
        width: 50%;
        background: darkcyan;
        padding: 5px;
    }
    .menu li:hover .submenu{
        width: 100%;
        display: block;
        position: absolute;
        margin-top:-25px ;
        margin-left:51% ;
    }
}
