body{
    margin: 0px;
}
.top-container h1{
    margin:0;;
    
}
.top-container{
    background-color: darkgreen;
    width: 100%;
    /* overflow: hidden; */
}
.middle-container{
    background-color: fuchsia;
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
}
.bottom-container{
    background-color: cyan;
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
}
